extends ./layout

block body
  table(align=`center`, border=`0`, cellspacing=`0`, cellpadding=`0`, width=`100%`, bgcolor=`#EDF0F3`, style=`background-color:#EDF0F3; table-layout:fixed`)
    tbody
      tr
        td(align=`center`, )
          center(style=`width:100%`)
            table.x_phoenix-email-container(border=`0`, cellspacing=`0`, cellpadding=`0`, width=`512`, bgcolor=`#FFFFFF`, style=`background-color:#FFFFFF; margin:0 auto; max-width:512px; width:inherit`)
              tbody
                tr
                  td
                    table(border=`0`, cellspacing=`0`, cellpadding=`0`, width=`100%`, )
                      tbody
                        tr
                          td(style=`padding:24px`)
                            div(style="display: flex;align-items: center;margin-bottom: 14px;padding-bottom: 15px;border-bottom: 1px solid #edf0f3;")
                              span(style=`color: rgb(106, 108, 109);font-weight: 700;font-size: 21px;border-radius: 39px;line-height: 1.5;background-color: #edf0f3;padding: 15px;margin-right: 18px;`)
                                | PRUEBAAAAAA
