doctype html
html
	head
		meta(charset='utf-8')
	body
		center(style="font-family: Helvetica Neue,Helvetica, Arial, sans-serif;background-color: rgb(237, 240, 243);height: 100%;position: absolute;left: 0;top: 0;width: 100%")
			br
			br
			img(src=obj.logo, style="max-width: 200px;width: 100%;")
			br
			br
			block body